.itemCreatorDisplay {
  background-color: rgba(17, 24, 39, 0.9);
  color: white;
}

.itemBox {
    border: 2px solid black;
}


button {
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .75rem;
  margin: .5rem;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
}

.itemDeleteButton {
  display: grid;
  grid-column: 2 / 4;
  grid-row: 4 / 4;
  background-color: rgba(175, 55, 55, 0.9);
  border: 1px solid transparent;
  border-radius: .75rem;
  margin: .5rem;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
}
